.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30vh;
}

.title {
    color: #f35626;
    background-image: -webkit-linear-gradient(92deg, #f35626, #feab3a);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 60s infinite linear;
}

@-webkit-keyframes hue {
    from {
        -webkit-filter: hue-rotate(0deg);
    }

    to {
        -webkit-filter: hue-rotate(-360deg);
    }
}

.list-item {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
}

.list-enter-active, .list-leave-active {
    transition: all 1s;
}

.list-enter, .list-leave-active {
    opacity: 0;
    transform: translateY(30px);
}